@import "./productos.scss";
@import "./loading.scss";

// Colores
$color-nav: #575757;
$color-nav-fixed: #b2b2b2;
$color-body: #f2f2f2;

// Colors-bts
$color-red: #ff3b30;
$color-yellow: #ffcc00;
$color-green: #4cd964;


body {
    margin: 0;
    padding: 0;
    background-color: $color-body;
}
.no-gutters {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
form img {
    width: 50px;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
}
.cards {
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin: 25px;
    .card {
        padding: 10px;
        margin: 20px;
    }
}
.margin-index {
    margin-top: 100px;
    margin-bottom: 100px;
}

// NAV SUPERIOR
.header_nav {
    background-color: $color-nav;
    .nav_logo {
        margin-right: 30px;
    }
    .nav_logo:hover {
        opacity: 0.6;
    }
    .nav_btn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 50px;
        button{
            width: 18px;
            height: 18px;
            border-radius: 50%;
            margin: 5px 7px 5px 7px;
            border: none;
            box-shadow: 1px 1px 10px rgba(0,0,0,.50);
        }
        button:hover {
            opacity: 0.6;
        }
        button:focus {
            outline: none;
        }
        .btn1{
            background-color: $color-red;
        }
        .btn2{
            background-color: $color-yellow;
        }
        .btn3{
            background-color: $color-green;
        }
    }
    .nav_menu {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        li{
            margin: 0px 20px 0px 20px;
        }
        a{
            color: white;
            font-size: 20px;
        }
        a:hover{
            color: black;
        }
        .nav-link{
            padding: 0;
        }
    }
}
// NAV ICONOS
.nav_iconos{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: $color-nav-fixed;
    .nav_iconos_img {
        padding: 3px;
        margin-right: 30px;
        display: flex;
        align-items: center;
    }
    .imgSearch, .imgLove {
        width: 32px;
        margin: 0px 10px 0px 10px;
        cursor: pointer;
    }
    .imgNavHover:hover {
        background-color: rgba(0, 0, 0, .1);
    }
    .carrito-img {
        margin-right: 0;
    }
}
.changuito:hover{
    background-color: rgba(0, 0, 0, .1);
}
.changuito:focus {
    outline: none;
    border: none;
}
.changuito {
    border: none;
    background-color: $color-nav-fixed;
    width: 80px;
    text-align: start;
    padding-left: 0;
    img{
        width: 32px;
        margin: 0px 0px 0px 10px;
    }
    b{
        background-color: white;
        border-radius: 30px;
        padding: 5px;
        font-size: 14px;
    }
}
// Carousel
.carousel-item {
    background: no-repeat center center scroll;
    text-align: center;
}

// Frase 
.frase-steve {
    text-align: center;
}
.frase {
    text-align: center;
    display: flex;
    justify-content: center;
    h4 {
        max-width: 1100px;
    }
}

// PageCarrito
.sidenav{
    width: 550px;
    .tittleCarrito{
        background-color: $color-nav;
        color: white;
        display: flex;
        padding: 8px;
        justify-content: center;
        a{
            margin-right: 25px;
        }
    }
}
.buttonsCarrito {
    text-align: end;
}
.comprar{
    background-color: $color-green;
    color: white;
    margin: 8px 12px 8px 0px;
    &:hover{
    background-color: $color-nav-fixed;
    color: black;
    }
}
.vaciarCarrito{
    background-color: $color-red;
    color: white;
    margin: 8px;
    font-size: 12px;
    &:hover{
        background-color: $color-nav-fixed;
        color: black;
    }
}
// Cards index

// Mas vendidos
.mas-vendidos-title {
    margin-top: 100px;
    text-align: center;
}
.carousel-mas-vendido {
    img {
        margin-right: 100px;
        margin-left: 100px;
    }
}

// Preguntas
.preguntas-title {
    text-align: center;
}
.preguntas-text {
    p {
        margin-bottom: 0;
    }
    @extend .preguntas-title;
}


// IMG Portada
.img-portada {
    background-image: url('../img/portadas/iphone.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

// Iconos grandes
.iconos-grandes {
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    .box-icon {
        border: 1px solid $color-nav;
        border-radius: 50%;
        padding: 35px
    }
    .help-icon{
        @extend .box-icon;
    }
    .money-icon {
        @extend .box-icon
    }
    img {
        width: 150px;
    }
}
.iconos-grandes-texto {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

// Footer
footer {
    background-color: $color-nav-fixed;
    margin-top: 100px;
    hr {
        margin-bottom: 0 ;
    }
}
.footer-txt {
    background-color: $color-nav-fixed;
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    h5 {
        font-size: 16px;
    }
    li {
        list-style: none;
        font-size: 14px;
        a {
            color: #212529;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}
.copyProyecto {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.copy {
    margin-top: 10px;
    text-align: center;
    padding: 8px;
    h5 {
        font-size: 14px;
    }
}
.proyecto {
    @extend .copy;
    h5 {
        font-size: 14px;
    }
}