
// Pages
#pageMac, #pageIpad, #pageIphone, #pageWatch, #pageMusic, #loading, #pageDatos {
    display: none;
}
// Colores
$color-nav: #575757;
$color-nav-fixed: #b2b2b2;
$color-body: #f2f2f2;

// Colors-bts
$color-red: #ff3b30;
$color-yellow: #ffcc00;
$color-green: #4cd964;



// Page Mac
.img-portada-mac {
    background-image: url('../img/portadas/macbook_.jpg');
    height: 85vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    border-bottom: 2px solid $color-nav;
}
.productos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
.portadaProcutoMac{
    background-image: url('https://www.apple.com/v/macbook-pro-16/c/images/overview/processor_hero_fallback__fzhvl0z0hy2y_large.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
    height: 320px;
    background-color: white;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    margin-bottom: 100px;
    margin-top: 100px;
}
.infoTouchId{
    background-image: url('https://www.apple.com/v/mac/compare/o/images/overview/icon_touch_id__bfbu56i2wdjm_large.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 55px;
    background-size: 50px;
}
.infoTouchBar{
    background-image: url('https://www.apple.com/v/mac/compare/o/images/overview/icon_touch_bar__6i3uywb41sie_large.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 55px;
    background-size: 150px;
}
.accesoriosMac1{
    background-image: url('https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MQ052?wid=445&hei=445&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=1495129815011');
    background-repeat: no-repeat;
    width: 50%;
    height: 400px;
    background-position: center center;
    padding: 10px;
}
.accesoriosMac2{
    background-image: url('https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MLA02?wid=572&hei=572&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=1564098735372');
    background-repeat: no-repeat;
    width: 50%;
    height: 400px;
    background-position: center center;
    padding: 10px;
}

// Page iPad
.img-portada-ipad {
    background-image: url('../img/portadas/ipad.jpg');
    height: 85vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
    border-bottom: 2px solid $color-nav;
}
.portadaProductoIpad {
    background-image: url('https://www.apple.com/v/ipad-pro/ac/images/shared/ipad_accessories__c3tmncn6oswi_large.jpg');
    height: 300px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
    margin-top: 100px;
}
.infoKey{
    background-image: url('https://www.apple.com/v/ipad/compare/w/images/overview/icon_magic_keyboard__emgo0c89cca6_large.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 75px;
    background-size: 80px;
}
.infoPencil{
    background-image: url('https://www.apple.com/v/ipad/compare/w/images/overview/icon_pencil__83akgj3nnhuq_large.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 75px;
    background-size: 80px;
}
.accesoriosIpad1{
    background-image: url('https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MXQT2LL?wid=572&hei=572&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=1599711999000');
    height: 400px;
    width: 50%;
    background-repeat: no-repeat;
    background-size: 472px;
    padding: 10px;
    background-position: center center;
}
.accesoriosIpad2{
    background-image: url('https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MU8F2?wid=572&hei=572&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=1540596407165');
    height: 400px;
    width: 50%;
    background-repeat: no-repeat;
    background-size: 472px;
    padding: 10px;
    background-position: center center;
}

// Page iPhone
.img-portada-iphone {
    background-image: url('../img/portadas/iphone12.jpg');
    height: 85vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom: 2px solid $color-nav;
}
.portadaProductoIphone {
    display: flex;
    flex-flow: row wrap;
    height: 300px;
    width: 100%;
    margin-top: 100px;
    background-color: black;
    justify-content: center;
}
.camera{
    background-image: url('https://www.apple.com/v/iphone-12-pro/f/images/overview/design/design_finishing_touches_static__cerrbjkbibg2_medium.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 300px;
    width: 45%;
}
.phone{
    background-image: url('https://www.apple.com/v/iphone-12-pro/f/images/overview/design/design_tougher_glass__czlsbgxawrki_medium.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
    width: 55%;
}
.margin{
    margin-top: 100px;
    text-align: center;
}
.accTitle {
    padding-top: 75px;
    padding-bottom: 43px;
    font-size: 46px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    color: $color-nav;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.info5G{
    background-image: url('https://www.apple.com/v/iphone/compare/s/images/overview/icon_5g__e3gdezblgy2q_large.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 55px;
    background-size: 50px;
}
.infoA14{
    background-image: url('https://www.apple.com/v/iphone/compare/s/images/overview/icon_A14__euhxmlhospea_large.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 55px;
    background-size: 50px;
}
.infoBateria{
    background-image: url('https://www.apple.com/v/iphone/compare/s/images/overview/icon_battery__emgn4vxvndci_large.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 55px;
    background-size: 50px;
}
.infoID{
    background-image: url('https://www.apple.com/v/iphone/compare/s/images/overview/icon_face_id__famo35toygqe_large.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 55px;
    background-size: 50px;
}
.infoWater{
    background-image: url('https://www.apple.com/v/iphone/compare/s/images/overview/icon_water_resistant__eckrl1t6v98i_large.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 75px;
    background-size: 50px;
}
.infoAcc{
    background-image: url('https://www.apple.com/v/iphone/compare/s/images/overview/icon_magsafe_triple_camera__eh7g4gs07kya_large.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 110px;
    background-size: 50px;
}
.accesorios{
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    padding: 0;
    margin-bottom: 100px;
    .accesorioIphone1{
        background-image: url('https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MHXH3_AV4_GEO_US?wid=572&hei=572&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=1604002057000');
        height: 400px;
        width: 50%;
        background-repeat: no-repeat;
        background-size: 400px;
        padding: 10px;
        background-position: center center;
    }
    .accesorioIphone2{
        background-image: url('https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MHLT3_AV3?wid=572&hei=572&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=1602883839000');
        height: 400px;
        width: 50%;
        background-repeat: no-repeat;
        background-size: 350px;
        padding: 10px;
        background-position: center center;
    }
}

// Page Watch
.img-portada-watch {
    background-image: url('../img/portadas/watch.jpg');
    height: 85vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
    border-bottom: 2px solid $color-nav;
}
.fieldsetWatch {
    margin-top: 100px;
    background-color: white;
    border-top: 2px solid $color-nav;
    padding: 10px;
    border-radius: 15px;
    p {
        margin-bottom: 50px;
        color: $color-nav;
    }
    h1 {
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 8px;
    }
    h3 {
        padding: 8px;
        p {
            font-size: 15px;
        }
    }
    h4 {
        padding: 8px;
        p {
            font-size: 15px;
        }
    }
}
.infoCaseSize {
    background-image: url('https://www.apple.com/v/watch/compare/q/images/overview/quicklook/quicklook_case_size_44_40__d09plii3t98i_large.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 60px;
    background-size: 60px;
}
.infoWatchWater {
    background-image: url('https://www.apple.com/v/watch/compare/q/images/overview/quicklook/quicklook_water_resistant__fqj2djxfwvam_large.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 55px;
    background-size: 50px;
}
.infoWatchHeart {
    background-image: url('https://www.apple.com/v/watch/compare/q/images/overview/quicklook/quicklook_heart_rate_notifications__chvretw55efm_large.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 55px;
    background-size: 40px;
}
.infoWatchCall {
    background-image: url('https://www.apple.com/v/watch/compare/q/images/overview/quicklook/quicklook_emergency_calling__bodtwvv25mvm_large.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 55px;
    background-size: 40px;
}
.infoWatchSOS {
    background-image: url('https://www.apple.com/v/watch/compare/q/images/overview/quicklook/quicklook_sos__cj0utvhlmtua_large.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 55px;
    background-size: 40px;
}
.infoWatchAltimetro {
    background-image: url('https://www.apple.com/v/watch/compare/q/images/overview/quicklook/quicklook_altimeter__big6ar4o48nm_large.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 55px;
    background-size: 40px;
}
.portadaProductoWatch {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 300px;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    margin-bottom: 100px;
    margin-top: 100px;
    .imgGPS {
        background-image: url('https://www.apple.com/v/watch/compare/q/images/overview/display/se_display_44mm__bdvqlsttdfqq_large.jpg');
        background-repeat: no-repeat;
        width: 300px;
        height: 300px;
        padding: 10px;
        margin: 10px;
    }
    .imgHeart {
        background-image: url('https://www.apple.com/v/watch/compare/q/images/overview/heart/se_heart_rate_44mm__b4fdvj2e2kgi_large.jpg');
        background-repeat: no-repeat;
        height: 300px;
        width: 300px;
        padding: 10px;
        margin: 10px;
    }
    .imgSOS {
        background-image: url('https://www.apple.com/v/watch/compare/q/images/overview/safety/se_safety_sos_44mm__cntypex5rbau_large.jpg');
        background-repeat: no-repeat;
        height: 300px;
        width: 300px;
        padding: 10px;
        margin: 10px;
    }
}
.accesorioWatch1 {
    background-image: url('https://www.apple.com/v/watch/home/ai/images/overview/bands/tile_bands_winter__dr3z2qgi0z2a_large.jpg');
    background-repeat: no-repeat;
    width: 50%;
    height: 400px;
    background-position: center center;
    padding: 10px;
}
.accesorioWatch2 {
    background-image: url('https://www.apple.com/v/watch/home/ai/images/overview/airpods/tile_airpods_engraving_update__tacp8e7plv6u_large.jpg');
    background-repeat: no-repeat;
    width: 50%;
    height: 400px;
    background-position: center center;
    background-size: 600px;
    padding: 10px;
    cursor: pointer;
}


// Page Music
.img-portada-music {
    background-image: url('../img/portadas/music.jpg');
    height: 85vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:rgb(238,237,239);
    border-bottom: 2px solid $color-nav;
}
.portadaProductoMusic {
    background-image: url('https://www.apple.com/v/homepod-mini/d/images/overview/intercom_devices__yfp8qnawuoie_large.jpg');
    height: 400px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 800px;
    background-attachment: fixed;
    margin-top: 100px;
}
// Carrito
.td-img {
    text-align: center;
}
.img-carrito {
    width: 60px;
}
thead {
    tr {
        text-align: center;
    }
    th {
        width: 10px;
    }
}
tfoot{
    text-align: center;
    display: none;
}
.table {
    td {
        text-align: center;
        width: 10px;
    }
}
// Input number
.carritoCantidad {
    max-width: 45px;
    text-align: center;
}
// Eliminar producto
.eliminarProducto {
    font-size: 12px;
    border: none;
    box-shadow: 0px 2px 3px rgba(0,0,0,.25);
    margin: 10px;
    &:focus{
        background-color: white;
    }
}
// Se agregó un producto al carrito
.modalSeAgregó {
    color: black;
    font-size: 18px;
    padding: 15px;
}

// Botones 
.btn-primary {
    color: white;
    background-color: #09ae85;
    line-height: 1.0;
    border: #09ae85;
    box-shadow: 0px 2px 3px rgba(0,0,0,.25);
    &:hover {
        background-color: rgba(0,0,0,0.8);
    }
}
.fa-angle-right {
    font-size: 16px !important;
    margin-left: 2px;
}
.fa-shopping-bag {
    font-size: 18px !important;
    margin-right: 2px;
}
.btn {
    padding: 8px 10px 10px 8px;
}

// Page Datos
.dataForm {
    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.50);
    background-color: white;
    padding: 30px;
    .formResumenCompra {
        text-align: center;
        hr {
            width: 88%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
.pagDatoImg {
    width: 50px;
}
.formDataCompra {
    padding: 40px;
}
.formResumenCompra {
    padding: 40px;
    border: 1px solid;
    border-color: #ddd;
    p {
        margin-bottom: 0;
    }
}
.noBorder {
    border:none;
    border-style: hidden;
}
.total-datos{
    background-color: #f5f5f5;
    height: 40px;
    padding: 10px;
    text-align: end;
}
.numero-total{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    height: 40px;
    padding: 10px;
}
.totalFooter{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    border: 1px solid;
    border-color: #ddd;
    padding: 0;
}
.pageDatosBarra {
    margin-top: 115px;
}
