
// Pages
#pageMac, #pageIpad, #pageIphone, #pageWatch, #pageMusic, #loading {
    display: none;
}


// Page Mac
.img-portada-mac {
    background-image: url('../img/portadas/macbook_.jpg');
    height: 85vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}
.productos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 100px;
}

// Page iPad
.img-portada-ipad {
    background-image: url('../img/portadas/ipad.jpg');
    height: 85vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
}

// Page iPhone
.img-portada-iphone {
    background-image: url('../img/portadas/iphone12.jpg');
    height: 85vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.portadaProductoIphone {
    background-image: url('https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-12-gallery1-2020?wid=1069&hei=407&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=1601602934000');
    height: 370px;
    background-position: center center;
    width: 100%;
    background-repeat: no-repeat;
    background-color: rgba(174,203,217,255);
}
.margin{
    margin-top: 100px;
    text-align: center;
}
.accesorios{
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    .accesorioIphone1{
        background-image: url('https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MHXH3_AV4_GEO_US?wid=572&hei=572&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=1604002057000');
        height: 400px;
        width: 50%;
        background-repeat: no-repeat;
        background-size: 400px;
        padding: 10px;
        background-position: center center;
    }
    .accesorioIphone2{
        background-image: url('https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MHLT3_AV3?wid=572&hei=572&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=1602883839000');
        height: 400px;
        width: 50%;
        background-repeat: no-repeat;
        background-size: 350px;
        padding: 10px;
        background-position: center center;
    }
}

// Page Watch
.img-portada-watch {
    background-image: url('../img/portadas/watch.jpg');
    height: 85vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
}


// Page Tv
.img-portada-tv {
    background-image: url('../img/carousel/iphone12.jpg');
    height: 85vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


// Page Music
.img-portada-music {
    background-image: url('../img/portadas/music.jpg');
    height: 85vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

// Carrito
.td-img {
    text-align: center;
}
.img-carrito {
    width: 60px;
}
thead {
    tr {
        text-align: center;
    }
    th {
        width: 10px;
    }
}
tfoot{
    text-align: center;
}
.table {
    td {
        text-align: center;
        width: 10px;
    }
}
// Eliminar producto
.eliminarProducto {
    font-size: 12px;
    border: none;
    box-shadow: 0px 2px 3px rgba(0,0,0,.25);
}